.footer_info {
    text-align: left;
    color: #1e293c;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    z-index: 2;
    // padding-bottom: 100px;
    // padding-top: 120px;
    // padding-left: 2200px;
    // padding-right: 120px;
    // margin: 100px;
}
 img{
    display: block;
    padding-bottom: 0;
    // padding-top: 22px;
}
.fa-facebook:before {
    font-size: 23px;
}
.fa-twitter:before {
    font-size: 23px;
}

.fa-instagram:before {
    font-size: 23px;
}
