<footer class="bg-white text-black pt-5 pb-4">
  <div class="container text-center text-md-left">
    <!-- <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Hellocomputer</h6>
        <p>
          We looking for ambitious partners to create experiences that inspire
          change, let’s talk: business@hellocomputer.com
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">
          Products
        </h6>
        <p>
          <a
            routerLink="/about-us"
            class="text-white font-weight-bold"
            style="text-decoration: none"
            >About Us</a
          >
        </p>
        <p>
          <a
            routerLink="/our-service"
            class="text-white font-weight-bold"
            style="text-decoration: none"
            >Our Service</a
          >
        </p>
        <p>
          <a
            routerLink="/our-work"
            class="text-white font-weight-bold"
            style="text-decoration: none"
            >Our Work</a
          >
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">Sites</h6>
        <p>
          <a
            href="https://www.lexus.co.za/"
            class="text-white font-weight-bold"
            style="text-decoration: none"
            >Toyota</a
          >
        </p>
        <p>
          <a
            href="https://toyota.co.za/"
            class="text-white font-weight-bold"
            style="text-decoration: none"
            >Lexus</a
          >
        </p>
        <p>
          <a
            href="https://www.hino.co.za/"
            class="text-white font-weight-bold"
            style="text-decoration: none"
            >Hino</a
          >
        </p>
        <p>
          <a
            href=""
            class="text-white font-weight-bold"
            style="text-decoration: none"
            >FCB Africa</a
          >
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">
          Contact
        </h6>
        <p><i class="fas fa-envelope mr-3"></i> business@hellocomputer.com</p>
        <p><i class="fas fa-phone mr-3"></i> + 27 11 567 8800</p>
        <p><i class="fas fa-print mr-3"></i> + 27 11 567 8900</p>
      </div>
    </div> -->

    <!-- <hr class="mb-4" /> -->
    <img src="/assets/images/footer.png">
    <span class="footer_info">+27 21 555 5555 info@hellocomputer.com</span> 
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <!-- <img src="/assets/images/footer.png"> -->
        <!-- <span class="footer_info">+27 21 555 5555 info@hellocomputer.com</span>  -->
        <!-- <p>© 2020 Hellocomputer: All rights reserved.</p> -->
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <!-- <span class="footer_info">+27 21 555 5555 info@hellocomputer.com</span>  -->
            <li class="list-inline-item">
              <a
                href="#"
                class="btn-floating btn-sm text-black"
                stlye="font-size:23px;"
                ><i class="fab fa-facebook stlye=font-size:23px"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                href="#"
                class="btn-floating btn-sm text-black"
                stlye="font-size:23px;"
                ><i class="fab fa-twitter stlye=font-size:23px;" ></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                href="#"
                class="btn-floating btn-sm text-black"
                stlye="font-size:23px;"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
