*{
  margin: 0;
  padding: 0;
}

.body {
  background-color: grey;
}
.banner {
  position: relative;
  background:url("/assets/images/bg.png");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  @media (max-width: 768px) {
    background:url("/assets/images/sbg.png");
    padding: 250px 0 200px;
  }
}
@media (max-width: 768px) {
  .navbar {
   position: relative;
   bottom: 232px;
  }
}
@media (max-width: 768px) {
  .container {
  padding-right: 12px;
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}
.navbar-brand {
  position: relative;
  left: 77px;
  @media (max-width: 768px) {
    left: 20px;
  }
}
#triangle-up { 
  position: absolute; 
  bottom: -1px; 
  left: 48%; 
  width: 0; 
  height: 0; 
  border-left: 26px solid transparent; 
  border-right: 26px solid transparent;
  border-bottom: 25px solid grey; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  @media (max-width: 768px) {
    left: 43%;
  }
}

#arrow:after {
  position: absolute;
  width: 0; 
  height: 0; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  content: ' \02C5';
  font-size: 12px;
  color : white;
  bottom: 10px;
  left: 49.7%;
  z-index: 2;
  @media (max-width: 768px) {
    left: 49%;
  }
}
.content h2 {
  left: 200px;
  right: 200px;
  font-size: 115px;
  font-family: 'Rakkas', cursive;
  font-weight: 1000;
  color: #fff;  
  @media (max-width: 768px) {
    font-size: 45px;
  }
}
.content .par {
  margin: 0;
  padding: 0 50% 0 0;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  @media (max-width: 768px) {
    padding: 49px 0 68px 0;
    font-size: 16px;
  }
}

.content {
  width: auto;
  height: auto;
  margin: auto;
  padding: 65px 90px; 
  color: #fff;
  position: relative;
    @media (max-width: 768px) {
    padding: 0px 27px;
    bottom: 95px;
  }
}

.content .btn {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 79px;
  margin-top: 34px;
  font-size: 16px;
  font-weight: 1000;
  font-family: 'Source Sans Pro', sans-serif;
  @media (max-width: 768px) {
    padding: 10px 97px;
  }
}
.content .btn a {
  text-decoration: none;
  color: #fff;
}

.intro {
  margin: 0;
  padding: 100px;
    @media (max-width: 768px) {
    padding: 80px 0 80px 0;
  }
}
.intro h1 {
  text-align: center;
  font-size: 50px;
  color: #c5b75b;
  font-family: 'Rakkas', cursive;
  @media (max-width: 768px) {
    font-size: 49px;
  }
}
.intro p {
  text-align: center;
  padding: 0px 40px 0 120px;
  @media (max-width: 768px) {
    padding: 0 0 0 0;
  }
}
.gallery h1 {
  text-align: center;
  font-size: 50px;
  color: #c5b75b;
  font-family: 'Rakkas', cursive;
}

.container_gallery{
  max-width: 85%;
  margin:20px auto;
}

.container_gallery .image-container{
  columns:2 250px;
  gap:15px;
  padding-left: 20px;
  @media (max-width: 768px) {
    padding-left: 15px;
    columns:2 2px;
  }
}

.container_gallery .image-container img{
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}