<section>
    <app-top-nav-bar></app-top-nav-bar>
</section>
    <div class="title">Contact Us</div> -->
    <div class="container">
        <div class="content">
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="detail">Full Name</span>
                        <input type="text" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                        <span class="detail">Surname</span>
                        <input type="text" placeholder="Enter your Surname" required>
                    </div>
                    <div class="input-box">
                        <span class="detail">Email</span>
                        <input type="text" placeholder="Enter your Email" required>
                    </div>
                    <div class="input-box">
                        <span class="detail">Phone Number</span>
                        <input type="text" placeholder="Enter your Phone Number" required>
                    </div>
                </div>
                <div class="gender-details">
                    <span class="gender-title">Comment</span>
                    <div class="category">
                    <textarea id="w3review" name="w3review" rows="4" cols="100%"></textarea>
                    </div>
                </div>
                <div class="button">
                <input type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>

<section>
    <app-footer></app-footer>
  </section>
