<app-top-nav-bar></app-top-nav-bar>
<div class="title">
  Selected prjects created alongside our clients partners
</div>
<section class="grid-section">
  <div class="grid">
    <div class="grid-img">
      <img src="../assets/images/device.jpg" />
    </div>
    <div class="overly">
      <h2>Toyota</h2>
      <a class="btn" href="https://www.toyota.co.za/">View</a>
    </div>
  </div>
  <div class="grid">
    <div class="grid-img">
      <img src="../assets/images/automark.jpg" />
    </div>
    <div class="overly">
      <h2>Lexus</h2>
      <a class="btn" href="https://www.lexus.co.za/">View</a>
    </div>
  </div>
  <div class="grid">
    <div class="grid-img">
      <img src="../assets/images/connect.jpg" />
    </div>
    <div class="overly">
      <h2>Hino</h2>
      <a class="btn" href="https://www.hino.co.za/">View</a>
    </div>
  </div>
  <div class="grid">
    <div class="grid-img">
      <img src="../assets/images/casestudy.jpg" />
    </div>
    <div class="overly">
      <h2>Fcb Africa</h2>
      <a class="btn" href="https://www.fcb.co.za/">View</a>
    </div>
  </div>
  <div class="grid">
    <div class="grid-img">
      <img src="../assets/images/device.jpg" />
    </div>
    <div class="overly">
      <h2>Hellocomputer</h2>
      <a class="btn" href="https://www.hellocomputer.com/">View</a>
    </div>
  </div>
  <div class="grid">
    <div class="grid-img">
      <img src="../assets/images/device.jpg" />
    </div>
    <div class="overly">
      <h2>Nahana</h2>
      <a class="btn" href="https://www.nahanagroup.com/">View</a>
    </div>
  </div>
  <div class="grid">
    <div class="dgrid-img">
      <img src="../assets/images/connect.jpg" />
    </div>
    <div class="overly">
      <h2>GenLife</h2>
      <a class="btn" href="">View</a>
    </div>
  </div>
</section>

<section>
  <app-footer></app-footer>
</section>
