<section>
  <app-top-nav-bar></app-top-nav-bar>
</section>

<div class="paragraph">
  <h1>olo, dumela, ‘sup, hello.</h1>
  <p>
    You good? Good. This right here, what we just did - is the beginning of
    long-lasting relationships with our clients, laying the foundation of a good
    story, starting a new chapter, crafting solutions, collaborating to create
    worlds that bring brands stories to life. At Hellocomputer we partner with
    clients to create memorable customer experiences, engineering moments which
    will connect your business with customers on an emotional level whilst
    delivering value.
  </p>
  <br />
  <h2>How we do it</h2>
  <p>
    We deliver future-forward digital solutions that are informed by data,
    enabled by technology and wrapped in creativity. When you start with
    insights derived from data, deploy the appropriate user-centric technology
    and apply the creative lens over digital moments, you go beyond designing
    another purely functional customer interaction.
  </p>
  <a class="cta" routerLink="/our-work"
    >Explore our services<i class="bi bi-arrow-right"></i
  ></a>
</div>

<section id="learn" class="p-5 bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h2>Lorem ipsum</h2>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          deleniti possimus magnam corporis ratione facere!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
          reiciendis eius autem eveniet mollitia, at asperiores suscipit quae
          similique laboriosam iste minus placeat odit velit quos, nulla
          architecto amet voluptates?
        </p>
        <a href="#" class="btn btn-light mt-3">
          <i class="bi bi-chevron-right"></i> Read More
        </a>
      </div>
      <div class="col-md">
        <img src="" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- profile -->
<section id="instructors" class="p-5 bg-light">
  <div class="container">
    <h2 class="text-center text-black font-weight-bold"> 
      The team who leads us
    </h2>
    <p class="lead text-center text-black mb-5">
      Our leadership team brings a wealth of creative, digital and technical
      experience to the table, from some of South Africa’s most reputable
      agencies to succesfull startups.
    </p>
    <div class="row g-4">
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="../assets/profiles/Christine.png"
              class="rounded-circle mb-3"
              alt=""
            />
            <h3 class="card-title mb-3">Christine Wienekus</h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              accusamus nobis sed cupiditate iusto? Quibusdam.
            </p>
            <a href="#"><i class="fab fa-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="../assets/profiles/Antonio.png"
              class="rounded-circle mb-3"
              alt=""
            />
            <h3 class="card-title mb-3">Antonio Petra</h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              accusamus nobis sed cupiditate iusto? Quibusdam.
            </p>
            <a href="#"><i class="fab fa-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src=""
              class="rounded-circle mb-3"
              alt=""
            />
            <h3 class="card-title mb-3">Nick Bester</h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              accusamus nobis sed cupiditate iusto? Quibusdam.
            </p>
            <a href="#"><i class="fab fa-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img
              src="../assets/profiles/Joey.png"
              class="rounded-circle mb-3"
              alt=""
            />
            <h3 class="card-title mb-3">Joey Khuvutlu</h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              accusamus nobis sed cupiditate iusto? Quibusdam.
            </p>
            <a href="#"><i class="fab fa-twitter text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-facebook text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-linkedin text-dark mx-1"></i></a>
            <a href="#"><i class="fab fa-instagram text-dark mx-1"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <app-footer></app-footer>
</section>
